<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Batch Code</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
            <h1>Generate Batch Code</h1>
            <form action="/batchcode" method="POST">
                <b>Centers</b>
                <select>
                    {{#each centers as |c|}}
                        <option value="{{c.id}}">{{c.name}}</option>
                    {{/each}}
                </select>
                <br>
                 <b>Seasons</b>
                <select>
                    {{#each seasons as |s|}}
                        <option value="{{s.id}}">{{s.name}}</option>
                    {{/each}}
                </select>
                <br>
                 <b>Courses</b>
                <select>
                    {{#each courses as |c|}}
                        <option value="{{c.id}}">{{c.name}}</option>
                    {{/each}}
                </select>
                <br>
                <b>Year</b>
                <select>
                    {{#each years as |y|}}
                    <option>{{y}}</option>
                    {{/each}}
                </select>
                <br><br>
                <b>Batch No.</b>
                <input type="number" min="1" max = "5">
            </form>
        <script src="" async defer></script>
    </body>
</html>