<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Batch Data</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <table border="1" cellspacing="10" cellpadding="10">
            <tr>
                <th>Batch</th>
                <th>Course</th>
                <th>Center</th>
                <th>Year</th>
                <th>Season</th>
                <th>Duration</th>
            </tr>
            {{#each data as |d|}}
                <tr>
                    <th>{{d.code}}</th>
                    <th>{{d.courseId}}</th>
                    <th>{{d.centerId}}</th>
                    <th>{{d.year}}</th>
                    <th>{{d.seasonId}}</th>
                    <th>{{d.duration}}</th>
                </tr>
            {{/each}}
        </table>
        
        <script src="" async defer></script>
    </body>
</html>